<h1>Students</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @student.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= link_to 'New', new_student_path(student) %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Delete Student', student_path(student),
  method: :delete, data: { confirm: 'Are you sure?' } %></td><p></p>
  </tr>
<% end %>
</table>