<h1>Bueller</h1>
<table>
  <tr>
    <th><%= link_to 'Students', students_path %><br/><p></p><%= link_to 'Teachers', teachers_path%><br/>
      <p></p><br/><%= link_to 'Back to CSC Projects Home', welcome_index_path %></th>
    <th></th>
    <th></th>
  </tr>
</table>