<h1>Attendance</h1>
<% if current_student %>
<br/>
<br/>
<br/>
<% end %>
<table>
<% @attendances.each do |attendance| %>
  <tr><td><br/></td></tr>
  <tr><td>Student: </td><td><%= link_to attendance.student.name, attendances_path(:id => attendance.student_id) %></td></tr>
  <tr><td>Attended On: </td><td><%= attendance.attended_on %></td></tr>
  <tr><td>Seat: </td><td><%= attendance.seat %></td></tr>
<% end %>
</table>